.container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.btn-container {
    width: 800px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.grid-square { 
    box-sizing: border-box;
    border: 1px solid black;
}

.grid-square:hover {
    cursor: pointer;
}

.black {
    background-color: black;
}